@font-face {
  font-family: "Roboto-Light";
  src: url("../assets/Roboto-Light.ttf");
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("../assets/RobotoCondensed-Bold.ttf");
}

.blurple{
  background-color: #4752C4;
}

body {
  margin: 5px;
  /* background-color: #322d36; */
  background-color: #36393F;
}

ul {
  padding: 0;
}

br {
  display: block;
  margin: 0px;
}

p, label {
  color: white;
}

.container > .row > .text-left {
  text-align: center;
}
.container > .row > .text-left > ul {
  text-align: left;
  display: inline-block;
}

.visualizer{
  min-height: 12rem;
  max-width: 12rem;
  min-width: 12rem;
  margin-bottom: 10px;
  background-color: #7289da;
  padding: 0;
  display: flex;
  border-color: black;
  border: 1px;
  border-radius: 3%;
}

.visualizer h6, h5, h4, h3, h2, h1, p{
  color:white;
}

.visualizer header{
  margin: 0;
}

#avatar{
  width: 78px;
  border-radius: 50%;
  margin-bottom: 12px
}

#appIcon{
  padding-top: 2.5px;
  width: 45px;
  margin-right: 7px;
  float: left;
}

#settings{
  padding-bottom: 2px;
}

.visualizerText{
  font-size:8px;
  color:white;
}

.custom-control-input:focus ~  
.custom-control-label::before { 
      /* when the button is toggled off  
it is still in focus and a violet border will appear */ 
      border-color: #a458c7c0 !important; 
      /* box shadow is blue by default 
but we do not want any shadow hence we have set  
all the values as 0 */ 
      box-shadow: 
        0 0 0 0rem rgba(0, 0, 0, 0) !important; 
  } 

  /*sets the background color of 
switch to violet when it is checked*/ 
.custom-control-input:checked ~  
.custom-control-label::before { 
      border-color: #a458c7c0 !important; 
      background-color: #a458c7c0 !important; 
  } 

  /*sets the background color of 
switch to violet when it is active*/ 
.custom-control-input:active ~  
.custom-control-label::before { 
      background-color: #a458c7c0 !important; 
      border-color: #a458c7c0 !important; 
  } 
