discord[[:space:]]rpc/lib/*.js linguist-vendored
discord[[:space:]]rpc/lib/*.css linguist-vendored
discord[[:space:]]rpc/node-modules/*.js linguist-vendored
discord[[:space:]]rpc/lib/* linguist-vendored
